#mobile
mobile/node_modules/
mobile/.expo/
mobile/dist/
mobile/npm-debug.*
mobile/*.jks
mobile/*.p8
mobile/*.p12
mobile/*.key
mobile/*.mobileprovision
mobile/*.orig.*
mobile/web-build/
mobile/.DS_Store
mobile/*lock

#server
server/node_modules
server/.env
server/dist
server/*lock

#web
web/logs
web/*.log
web/npm-debug.log*
web/yarn-debug.log*
web/yarn-error.log*
web/pnpm-debug.log*
weblerna-debug.log*
web/node_modules
web/dist
web/dist-ssr
web/*.local
web/.idea
web/.DS_Store
web/*.suo
web/*.ntvs*
web/*.njsproj
web/*.sln
web/*.sw?
web/*lock

./**/.vscode/*
./**/!.vscode/extensions.json
